<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="xyz.wingio.logra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.App"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Logra">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Logra.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="logra.actions.EXPORT_LOGS" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter android:exported="false">
                <action android:name="logra.actions.VIEW_CRASH" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".icons.Legacy"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_legacy"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_legacy"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="logra.actions.EXPORT_LOGS" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter android:exported="false">
                <action android:name="logra.actions.VIEW_CRASH" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".icons.Nord"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_nord"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_nord"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="logra.actions.EXPORT_LOGS" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter android:exported="false">
                <action android:name="logra.actions.VIEW_CRASH" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".icons.Mocha"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_mocha"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_mocha"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="logra.actions.EXPORT_LOGS" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter android:exported="false">
                <action android:name="logra.actions.VIEW_CRASH" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".icons.Neon"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_neon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_neon"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="logra.actions.EXPORT_LOGS" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter android:exported="false">
                <action android:name="logra.actions.VIEW_CRASH" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".icons.Pride"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_pride"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_pride"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="logra.actions.EXPORT_LOGS" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter android:exported="false">
                <action android:name="logra.actions.VIEW_CRASH" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

        </activity-alias>

        <service
            android:name=".crashdetector.services.CrashDetectionService"
            android:exported="false" />

        <receiver
            android:name=".crashdetector.receivers.CrashReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="logra.actions.EXCEPTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".crashdetector.receivers.StopReceiver"
            android:exported="false" />
        <receiver android:name=".crashdetector.receivers.BootReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
                android:name="rikka.shizuku.ShizukuProvider"
                android:authorities="${applicationId}.shizuku"
                android:multiprocess="false"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>